<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
  @*  <script src="~/Content/Angular/Module.js"></script>
    <script src="~/Content/Angular/Service.js"></script>
    <script src="~/Content/Angular/Controller.js"></script>*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Angular/Module.js"></script>
    <script src="~/Angular/Service.js"></script>
    <script src="~/Angular/Controller.js"></script>
    @Styles.Render("~/Content/css")
   
    <style>
        
    </style>
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
</body>
</html>
